*{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        body{
            display: flex;
            justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    
        }
#container{
    width: 500px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px 5px ;
}
button{
    border: 1px solid;
    background-color: white;
    width: 65px;
    height: 30px;
    border-radius: 5px;
    margin: 25px 0 0 0;
    font-weight: 600;

}
button:hover{
    cursor: pointer;
    background-color: rgb(216, 218, 220);
}